In [2]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print "SQLite version: %s" % data

SQLite version: 3.8.4.1

In [3]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:
    
    cur = con.cursor()
    cur.execute("INSERT INTO cities VALUES ('Washington', 'DC')")
    cur.execute("INSERT INTO cities VALUEs ('Houston', 'TX')")
    cur.execute("INSERT INTO weather VALUES ('Washington', 2013, 'July', 'January', 62)")
    cur.execute("INSERT INTO weather VALUEs ('Houston', 2013, 'July', 'January', 55)")

In [8]:
import sqlite3 as lite

cities = (('Las Vegas', 'NV'), ('Atlanta', 'GA'))
           
weather = (('Las Vegas', 2013, 'July', 'December', 66), ('Atlanta', 2013, 'July', 'January', 55))

con = lite.connect('getting_started.db')

with con:
        cur = con.cursor()
        cur.executemany("INSERT INTO cities VALUES(?, ?)", cities)
        cur.executemany("INSERT INTO weather VALUES(?,?,?,?,?)", weather)

In [9]:
with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM cities")
    
    rows = cur.fetchall()
    
    for row in rows:
        print row

(u'New York City', u'NY')
(u'Boston', u'MA')
(u'Chicago', u'IL')
(u'Miami', u'FL')
(u'Dallas', u'TX')
(u'Seattle', u'WA')
(u'Portland', u'OR')
(u'San Francisco', u'CA')
(u'Los Angeles', u'CA')
(u'Washington', u'DC')
(u'Houston', u'TX')
(u'Las Vegas', u'NV')
(u'Atlanta', u'GA')

In [11]:
import pandas as pd

with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM cities")
    
    rows = cur.fetchall()
    df = pd.DataFrame(rows)

In [12]:
df.head()

               0   1
0  New York City  NY
1         Boston  MA
2        Chicago  IL
3          Miami  FL
4         Dallas  TX

In [13]:
cur.description

(('name', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [18]:
import sqlite3 as lite
import pandas as pd

with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM cities")
    
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]
    df = pd.DataFrame(rows, columns = cols)

In [19]:
df.head()

            name state
0  New York City    NY
1         Boston    MA
2        Chicago    IL
3          Miami    FL
4         Dallas    TX