In [48]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime

In [2]:
stamp = pd.Timestamp('7/17/2012 10:06:45')
stamp.month

7

In [3]:
stamp.year

2012

In [4]:
stamp.second

45

In [5]:
stamp.strftime('%Y%m%d')

'20120717'

In [6]:
stamp.value #nanosecond timestamp

1342519605000000000

In [7]:
dates = ['07/07/2012', '07/09/2012', '07/12/2012']
dates

['07/07/2012', '07/09/2012', '07/12/2012']

In [8]:
pd.DatetimeIndex(dates)

<class 'pandas.tseries.index.DatetimeIndex'>
[2012-07-07, ..., 2012-07-12]
Length: 3, Freq: None, Timezone: None

In [9]:
list(pd.to_datetime(dates, dayfirst = True))

[Timestamp('2012-07-07 00:00:00'),
 Timestamp('2012-09-07 00:00:00'),
 Timestamp('2012-12-07 00:00:00')]

In [10]:
ts = Series(range(3), index = pd.to_datetime(dates, dayfirst = True))
ts

2012-07-07    0
2012-09-07    1
2012-12-07    2
dtype: int64

In [50]:
isinstance(ts.index[0], datetime)

True

#Indexing

In [12]:
rng = pd.date_range('2012-07-17', periods = 1000) #fixed frequency of index
ts = Series(np.arange(1000), index = rng)
ts

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2015-03-14    970
2015-03-15    971
2015-03-16    972
2015-03-17    973
2015-03-18    974
2015-03-19    975
2015-03-20    976
2015-03-21    977
2015-03-22    978
2015-03-23    979
2015-03-24    980
2015-03-25    981
2015-03-26    982
2015-03-27    983
2015-03-28    984
2015-03-29    985
2015-03-30    986
2015-03-31    987
2015-04-01    988
2015-04-02    989
2015-04-03    990
2015-04-04    991
2015-04-05    992
2015-04-06    993
2015-04-07    994
2015-04-08    995
2015-04-09    996
2015-04-10    997
2015-04-11    998
2015-04-12    999
Freq: D, dtype: int64

In [17]:
ts[:'2012-08-01']

2012-07-17     0
2012-07-18     1
2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
2012-07-31    14
2012-08-01    15
Freq: D, dtype: int64

In [21]:
ts2 = ts.take(np.random.permutation(len(ts)))
ts2['2012-07-20':'2012-08-01 12:00'].sort_index()

2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
2012-07-31    14
2012-08-01    15
dtype: int64

In [22]:
ts['2012-7']

2012-07-17     0
2012-07-18     1
2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
2012-07-31    14
Freq: D, dtype: int64

In [23]:
ts['2012-7':'2012-9']

2012-07-17     0
2012-07-18     1
2012-07-19     2
2012-07-20     3
2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
2012-07-31    14
2012-08-01    15
2012-08-02    16
2012-08-03    17
2012-08-04    18
2012-08-05    19
2012-08-06    20
2012-08-07    21
2012-08-08    22
2012-08-09    23
2012-08-10    24
2012-08-11    25
2012-08-12    26
2012-08-13    27
2012-08-14    28
2012-08-15    29
              ..
2012-09-01    46
2012-09-02    47
2012-09-03    48
2012-09-04    49
2012-09-05    50
2012-09-06    51
2012-09-07    52
2012-09-08    53
2012-09-09    54
2012-09-10    55
2012-09-11    56
2012-09-12    57
2012-09-13    58
2012-09-14    59
2012-09-15    60
2012-09-16    61
2012-09-17    62
2012-09-18    63
2012-09-19    64
2012-09-20    65
2012-09-21    66
2012-09-22    67
2012-09-23    68
2012-09-24    69
2012-09-25    70
2012-09-26    71
2012-09-27    72
2012-09-28    73
2012-09-29    74
2012-09-30    75
Freq: D, dtype: int64

In [25]:
ts['2012']

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2012-12-02    138
2012-12-03    139
2012-12-04    140
2012-12-05    141
2012-12-06    142
2012-12-07    143
2012-12-08    144
2012-12-09    145
2012-12-10    146
2012-12-11    147
2012-12-12    148
2012-12-13    149
2012-12-14    150
2012-12-15    151
2012-12-16    152
2012-12-17    153
2012-12-18    154
2012-12-19    155
2012-12-20    156
2012-12-21    157
2012-12-22    158
2012-12-23    159
2012-12-24    160
2012-12-25    161
2012-12-26    162
2012-12-27    163
2012-12-28    164
2012-12-29    165
2012-12-30    166
2012-12-31    167
Freq: D, dtype: int64

In [26]:
ts['2012-9':'2013']

2012-09-01     46
2012-09-02     47
2012-09-03     48
2012-09-04     49
2012-09-05     50
2012-09-06     51
2012-09-07     52
2012-09-08     53
2012-09-09     54
2012-09-10     55
2012-09-11     56
2012-09-12     57
2012-09-13     58
2012-09-14     59
2012-09-15     60
2012-09-16     61
2012-09-17     62
2012-09-18     63
2012-09-19     64
2012-09-20     65
2012-09-21     66
2012-09-22     67
2012-09-23     68
2012-09-24     69
2012-09-25     70
2012-09-26     71
2012-09-27     72
2012-09-28     73
2012-09-29     74
2012-09-30     75
             ...
2013-12-02    503
2013-12-03    504
2013-12-04    505
2013-12-05    506
2013-12-06    507
2013-12-07    508
2013-12-08    509
2013-12-09    510
2013-12-10    511
2013-12-11    512
2013-12-12    513
2013-12-13    514
2013-12-14    515
2013-12-15    516
2013-12-16    517
2013-12-17    518
2013-12-18    519
2013-12-19    520
2013-12-20    521
2013-12-21    522
2013-12-22    523
2013-12-23    524
2013-12-24    525
2013-12-25    526
2013-12-26    527
2013-12-27    528
2013-12-28    529
2013-12-29    530
2013-12-30    531
2013-12-31    532
Freq: D, dtype: int64

In [29]:
df = DataFrame(np.arange(4000).reshape((1000,4)), index = rng, columns = [
        'Colorado', 'Texas', 'New York', 'Ohio'])
df.head()

            Colorado  Texas  New York  Ohio
2012-07-17         0      1         2     3
2012-07-18         4      5         6     7
2012-07-19         8      9        10    11
2012-07-20        12     13        14    15
2012-07-21        16     17        18    19

In [31]:
df.ix['2012-07']

            Colorado  Texas  New York  Ohio
2012-07-17         0      1         2     3
2012-07-18         4      5         6     7
2012-07-19         8      9        10    11
2012-07-20        12     13        14    15
2012-07-21        16     17        18    19
2012-07-22        20     21        22    23
2012-07-23        24     25        26    27
2012-07-24        28     29        30    31
2012-07-25        32     33        34    35
2012-07-26        36     37        38    39
2012-07-27        40     41        42    43
2012-07-28        44     45        46    47
2012-07-29        48     49        50    51
2012-07-30        52     53        54    55
2012-07-31        56     57        58    59

In [33]:
df.ix['2012-07-20']

Colorado    12
Texas       13
New York    14
Ohio        15
Name: 2012-07-20 00:00:00, dtype: int64

In [34]:
from datetime import timedelta

In [49]:
start = datetime(2012, 12, 31)
df.ix[start:start * pd.offsets.Day(11)]

TypeError: unsupported operand type(s) for *: 'datetime.datetime' and 'int'

In [36]:
list(pd.date_range('2000-01-01', periods = 5))

[Timestamp('2000-01-01 00:00:00', offset='D'),
 Timestamp('2000-01-02 00:00:00', offset='D'),
 Timestamp('2000-01-03 00:00:00', offset='D'),
 Timestamp('2000-01-04 00:00:00', offset='D'),
 Timestamp('2000-01-05 00:00:00', offset='D')]

In [37]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'M')) #month end

[Timestamp('2000-01-31 00:00:00', offset='M'),
 Timestamp('2000-02-29 00:00:00', offset='M'),
 Timestamp('2000-03-31 00:00:00', offset='M'),
 Timestamp('2000-04-30 00:00:00', offset='M'),
 Timestamp('2000-05-31 00:00:00', offset='M')]

In [38]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'BM')) #business month

[Timestamp('2000-01-31 00:00:00', offset='BM'),
 Timestamp('2000-02-29 00:00:00', offset='BM'),
 Timestamp('2000-03-31 00:00:00', offset='BM'),
 Timestamp('2000-04-28 00:00:00', offset='BM'),
 Timestamp('2000-05-31 00:00:00', offset='BM')]

In [39]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'MS')) #month start

[Timestamp('2000-01-01 00:00:00', offset='MS'),
 Timestamp('2000-02-01 00:00:00', offset='MS'),
 Timestamp('2000-03-01 00:00:00', offset='MS'),
 Timestamp('2000-04-01 00:00:00', offset='MS'),
 Timestamp('2000-05-01 00:00:00', offset='MS')]

In [40]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'BMS')) #business month start

[Timestamp('2000-01-03 00:00:00', offset='BMS'),
 Timestamp('2000-02-01 00:00:00', offset='BMS'),
 Timestamp('2000-03-01 00:00:00', offset='BMS'),
 Timestamp('2000-04-03 00:00:00', offset='BMS'),
 Timestamp('2000-05-01 00:00:00', offset='BMS')]

In [41]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'W-TUE'))

[Timestamp('2000-01-04 00:00:00', offset='W-TUE'),
 Timestamp('2000-01-11 00:00:00', offset='W-TUE'),
 Timestamp('2000-01-18 00:00:00', offset='W-TUE'),
 Timestamp('2000-01-25 00:00:00', offset='W-TUE'),
 Timestamp('2000-02-01 00:00:00', offset='W-TUE')]

In [42]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'W-SAT'))

[Timestamp('2000-01-01 00:00:00', offset='W-SAT'),
 Timestamp('2000-01-08 00:00:00', offset='W-SAT'),
 Timestamp('2000-01-15 00:00:00', offset='W-SAT'),
 Timestamp('2000-01-22 00:00:00', offset='W-SAT'),
 Timestamp('2000-01-29 00:00:00', offset='W-SAT')]

In [43]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'A-JUN'))

[Timestamp('2000-06-30 00:00:00', offset='A-JUN'),
 Timestamp('2001-06-30 00:00:00', offset='A-JUN'),
 Timestamp('2002-06-30 00:00:00', offset='A-JUN'),
 Timestamp('2003-06-30 00:00:00', offset='A-JUN'),
 Timestamp('2004-06-30 00:00:00', offset='A-JUN')]

In [44]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'A-FEB'))

[Timestamp('2000-02-29 00:00:00', offset='A-FEB'),
 Timestamp('2001-02-28 00:00:00', offset='A-FEB'),
 Timestamp('2002-02-28 00:00:00', offset='A-FEB'),
 Timestamp('2003-02-28 00:00:00', offset='A-FEB'),
 Timestamp('2004-02-29 00:00:00', offset='A-FEB')]

In [45]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'BA-FEB'))

[Timestamp('2000-02-29 00:00:00', offset='BA-FEB'),
 Timestamp('2001-02-28 00:00:00', offset='BA-FEB'),
 Timestamp('2002-02-28 00:00:00', offset='BA-FEB'),
 Timestamp('2003-02-28 00:00:00', offset='BA-FEB'),
 Timestamp('2004-02-27 00:00:00', offset='BA-FEB')]

In [46]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'Q-DEC'))

[Timestamp('2000-03-31 00:00:00', offset='Q-DEC'),
 Timestamp('2000-06-30 00:00:00', offset='Q-DEC'),
 Timestamp('2000-09-30 00:00:00', offset='Q-DEC'),
 Timestamp('2000-12-31 00:00:00', offset='Q-DEC'),
 Timestamp('2001-03-31 00:00:00', offset='Q-DEC')]

In [47]:
list(pd.date_range('2000-01-01', periods = 5, freq = 'WOM-3FRI')) #third friday of month

[Timestamp('2000-01-21 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-02-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-03-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-04-21 00:00:00', offset='WOM-3FRI'),
 Timestamp('2000-05-19 00:00:00', offset='WOM-3FRI')]