In [2]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print "SQLite version: %s" % data

SQLite version: 3.8.4.1

In [2]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:
    
    cur = con.cursor()
    cur.execute("INSERT INTO cities VALUES ('Washington', 'DC')")
    cur.execute("INSERT INTO cities VALUEs ('Houston', 'TX')")
    cur.execute("INSERT INTO weather VALUES ('Washington', 2013, 'July', 'January', 62)")
    cur.execute("INSERT INTO weather VALUEs ('Houston', 2013, 'July', 'January', )")

OperationalError: table weather has 5 columns but 4 values were supplied

In [ ]:
import sqlite 3 as lite

cities = (('Las Vegas, 'NV'), ('Atlanta', 'GA'))
           
weather = (('Las Vegas', 2013, 'July', 'December'), ('Atlanta', 2013, 'July', 'January'))

con = lite.connect('getting_started.db')

with con:
        cur = con.cursor()
        cur.executemany("INSERT INTO cities VALUES(?, ?)", cites)
        cur.executemany("INSERT INTO weather VALUES(?,?,?,?)", weather)